* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: black;

}
#root-box {
  margin-top: 50px;
  width: 80%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}
#logo {
  display: block;  
}
body {
  background-color: #EFEFEE;
}
header {
  text-align: center;
  background-color: white;
  width: 100%;
  border-bottom: 2px dotted grey;
  padding-bottom: 10px;
}

.header-logo {
  padding: 5px;
}


.header-menu {
  margin-top: 5px;
}

#header-menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 10px;
  padding-bottom: 10px;
}

#header-menu-container li {
  padding: 10px 20px;
  background-color: transparent;
  transition: all 0.3s ease;
}

#header-menu-container li a {
  color: black;
  font-weight: 500;
}

#header-menu-container li:hover {
  background-color: #6C6C6C;
}

#header-menu-container li:hover a {
  color: white;
}

#wrapper {
  padding: 30px;
  background-color: #EFEFEE;
  min-height: 300px;
}

footer {
  text-align: center;
  background-color: white;
  width: 100%;
  border-top: 2px dotted grey;
  padding: 20px;
}

