---
layout: archive
title: "Navigation"
permalink: /navigation/
author_profile: true
---

{% include base_path %}

{% comment %}
{% endcomment %}
{% assign categories = "∎ ExploitTech,∎ Capture The Flag,∎ WarGame,∎ Browser,∎ Bluetooth" | split: "," %}
{% assign tags = "ExploitTech, ctf,wargame,browser,bluetooth" | split: "," %}

{% for category in categories %}
  <h2>{{ category }}</h2>
  {% assign current_tag = tags[forloop.index0] %}
  
  {% comment %}
  {% endcomment %}
  {% assign filtered_posts = site.navigation | where_exp:"post", "post.tags contains current_tag" | sort:"date" | reverse %}
  
  {% for post in filtered_posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
